* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #0B2434;
  padding: 20px;
}

.app--main{
  background: #F5F5F5;
  border-radius: 5px;
  max-width: 800px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.dice--container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die--face{
  font-weight: 700;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.roll-dice{
  background-color: #5035FF;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1.2rem;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.roll-dice:focus{
  outline: none;
}

.roll-dice:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}